/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './theme-custom-pink' as pink-theme;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    color-scheme: light dark;
    @include mat.theme((
      color: (
        primary: pink-theme.$primary-palette,
        tertiary: pink-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: -2
    ));
  }
